.Navbar{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 15px 0;
    border: 1px solid rgb(180, 180, 180);
    
  }
  .navTabs{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.2;
  }
  .navTabs a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
  }
  .logo{
    display: flex;
    /* flex-grow: 0.2; */
  }
  
  .navContent{
    display: flex;
    max-width: 1280px;
    width: 100%;
    justify-content: space-between;
    align-items: center;  
  }
  .logo h2{
    margin-left: 10px;
  }
  .navTabs a:hover{
    color: #1D4ED8;
  }
  .navTabs a:nth-child(1){
    color: #1D4ED8;
  }