*{
    box-sizing: border-box;
}
.section2Container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 80px;
    /* height: ; */
}

.section2Img{
    width: 50%;
    height: 600px;
}
.section2Img img{
    width:110%;
    height: 100%;
    position: relative;
    /* left: 20px; */
}
.section2TextContainer{
    width: 60%;
    height: 700px;
    background-color: #F3F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2Text{
    text-align: left;
    width: 75%;
    min-width: 300px;
    margin-left: 20%;
}